<nav class="navbar">
  <ul>
    <li><a routerLink="/">INICIO</a></li>
    <li><a routerLink="/login">INGRESAR</a></li>
    <li><a routerLink="/register">REGISTRARSE</a></li>
    <li><a routerLink="/list-user">LISTAR USUARIOS</a></li>
    <!-- Mostrar opciones según autenticación -->
    <!-- <ng-container *ngIf="isAuthenticated"> -->
    <!-- <li><a routerLink="/dashboard">Dashboard</a></li> -->
    <!-- <li><a (click)="logout()">Cerrar sesión</a></li> -->
    <!-- </ng-container> -->
    <!-- <ng-container *ngIf="!isAuthenticated"> -->
    <!-- <li><a routerLink="/login">Iniciar sesión</a></li> -->
    <!-- <li><a routerLink="/register">Registrarse</a></li> -->
    <!-- </ng-container> -->
    <!--FIN Mostrar opciones según autenticación -->
  </ul>
</nav>